<div id="particles-js" style="position:fixed;top:0;left:0;width:100vw;height:100vh;z-index:0"></div>

<div id="main-container">
  <div style="position:relative;z-index:1;">
    <div class="d-flex flex-column mb-3" style="height: 100vh;">
        <div class="align-self-center mb-auto mt-5 fw-lighter" style="font-size: 4.5rem; font-family: Montserrat;" id="clock"> 
            {{currentTime}} 
        </div>
        <div id="element" class="my-5 fs-3 px-3 text-center" style="font-family: 'Quicksand', cursive;">
        </div>
        <div class="d-flex align-items-end justify-content-between gap-3">
          <img style="width: auto; height:30vh;" src="img/pucca.png" alt="Pucca">
            <i class="bi bi-question-circle-fill mx-4 my-2 fs-"  (click)="openModal()"></i> 
        </div>
    </div>
  </div>
</div>

<app-patch-note-modal >
</app-patch-note-modal>
