<!-- Modal Bootstrap -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-between">
<div class="segmented-dark">
  <input type="radio" name="auth" id="login"   checked>
  <label for="login">Pucca Menu</label>


</div>
      <i class="bi bi-x-lg" data-bs-dismiss="modal" style="cursor: pointer; font-size: 1.2rem"></i>
      </div>
      <div class="modal-body">
        <div class="d-flex flex-column gap-3">
          <!-- header 1 -->
          <div id="header" class="d-flex flex-column"> 
            <div class="d-flex flex-row align-items-center gap-2 mb-2">
              <h2> Coucou User....</h2>
              <i class="bi bi-person-circle fs-2"></i>
            </div>
            <div class="d-flex flex-column">
              <p>Daily :</p>
              <div class="d-flex flex-row gap-2">
                <p>💧 Eau : 10/10</p>
                <p>🍜 Noodles : 5/5</p>
                <p>❤️ Vie : 3/3</p>
              </div>
          </div>
          <!-- bouton container  -->
          <div class="d-flex flex-column gap-3">
            <div class="d-flex flex-row gap-2">
              <button class="btn btn-outline-primary"  > Quêtes </button>
              <button class="btn btn-outline-success"  > Shop </button>
            </div>
            <div class="d-flex flex-row gap-2">
              <button class="btn btn-outline-primary"  > PuccAvatar </button>
              <button class="btn btn-outline-success"  > PuccArcade </button>
            </div>
            <div class="d-flex flex-row gap-2">
              <button class="btn btn-outline-primary"  > Paramètres </button>
              <button class="btn btn-outline-success"  > Succès </button>
            </div>
          </div>
      </div>
      </div>
    <div class="modal-footer">
      <div class="justify-content-end d-flex gap-2">
        <button class="btn btn-primary"  > Login </button>
        <button class="btn btn-success"  > Register </button>
      </div>
    </div>
  </div>
</div>