<div id="particles-js" class="particle-js-container"></div>

<div id="main-container" style="background-color: black;">
  <div class="main-wrapper">
    <!-- Card avec formulaire -->
    <div id="element" class="my-5 fs-3 px-3 text-center pucca-dialog-container">
    </div>
    
    <!-- Orbe de lumière cliquable -->
    <div *ngIf="showLightOrb" class="light-orb" (click)="onLightOrbClick()">
      <div class="orb-glow"></div>
      <div class="orb-core"></div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>