<div id="particles-js" class="particle-js-container"></div>

<div id="main-container">
  <div class="main-wrapper">
    <div class="d-flex flex-column mb-3 main-flex-container">
        <div class=" help-icon align-self-end mb-auto mt-3 fw-lighter help-text ">
              <span  >{{ currentUser?.username }}</span>
              <i class="bi bi-person-fill mx-4 my-2  logger-icon size-login"  (click)="openModalProfile()">         </i> 
    
            </div>
                <div class=" help-icon  logger-icon align-self-end mb-auto mt-3 fw-lighter help-text">
              <i class="bi bi-person-fill mx-4 my-2 size-login"  (click)="openModalProfile()">         </i> 
        </div>
        <div class="align-self-center mb-auto mt-5 fw-lighter clock-container" style="z-index: 999;" id="clock"> 
            {{currentTime}} 
        </div>
        <div id="element" class="my-5 fs-3 px-3 text-center pucca-dialog-container">
        </div>
        <div class="d-flex align-items-end justify-content-between gap-3">
          <img class="pucca-img " src="img/pucca.png" alt="Pucca" id="puccaImage">
            <i class="bi bi-question-circle-fill mx-4 my-2 fs-"  (click)="openModal()"></i> 
        </div>
    </div>
  </div>
</div>

<app-patch-note-modal>
</app-patch-note-modal>

<app-login-modal>
</app-login-modal>

<app-profile-modal>
</app-profile-modal>

<router-outlet></router-outlet>

